{{ 'collection-list.css' |  asset_url |  stylesheet_tag }}
{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="collection-list padding-{{ section.id }}">
  <div class="page-width">
    <div class="grid">
        {% if section.settings.title_text != blank %}
            <h2 class="h2">{{ section.settings.title_text }}</h2>
        {% endif %}
        {% if section.settings.button_text != blank %}
            <a class="link__button"><h2 class="h3">{{ section.settings.button_text }}</h2></a>
        {% endif %}
    </div>
    <div class="grid grid--2-col grid--2-col-tablet grid--4-col-desktop">
      {% for block in section.blocks %}
        {% assign image = block.settings.image %}
        {% assign mobileImage = block.settings.image_mobile %}
        <div class="grid__item">
          <div class="collection-element  product-card">
            {% if image %}
              {% render 'responsive-picture' desktopImage: image, mobileImage: mobileImage, class: 'media media--square' %}
            {% else %}
              {{ 'image' | placeholder_svg_tag }}
            {% endif %}
            <div>
                <a href="{{ block.settings.block_button_link }} " class="full-unstyled-link"><h2 class="h2 link__button">{{ block.settings.block_button_text }}</h2></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Collections List",
    "settings": [
       
         {
            "type": "text",
            "default": "Shop By Category",
            "label": "Title of the Section",
            "id": "title_text"
        },
        {
            "type": "text",
            "label": "Button Text",
            "id": "button_text",
            "default": "View All"
        },
        {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      }    
        ],
  "blocks": [
    {
      "type": "collection-elements",
      "name": "Collection Elements",
      "settings": [
          {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Desktop Image Suggested Settings 650*650" 
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (Mobile)",
        "info": "Mobile Image Suggested Settings 450*450" 
      },
      {
        "type": "text",
        "id": "block_button_text",
        "default": "Shop Now",
        "label": "Button Text"
      },
       {
        "type": "url",
        "id": "block_button_link",
        "label": "Button Link"
      }
    ]
    }
  ],
    "presets": [
        {
            "name": "Collections List"
        }
    ]
}
{% endschema %}