{{ 'custom-image-banner.css' |  asset_url |  stylesheet_tag }}

{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
.image-with-text__box{
    background : {{ section.settings.background_color}}
}

  
{% endstyle %}
<div class="image-with-text  padding-{{ section.id }} ">
    <div class="page-width">
    <div class="image-with-text__box image-with-text__box--{{ section.settings.image_position }}  ">
        <div class="image-with-text__container image-with-text__container--{{ section.settings.text_position }} ">
        <div class="image-with-text__content text-position-wrapper image-with-text__text-align--{{ section.settings.text_alignment }} ">
        <div class="title-wrapper" >
            {% if  section.settings.heading_text != blank %}
            <a href="" class="full-unstyled-link">
                <h2 class="image-with-text__title h2">
                    {{ section.settings.heading_text }}
                </h2>
            </a>
        {% endif %}
    </div>
    {% if section.settings.paragraph_text != blank %}     
        <div class="image-with-text__description">
        {{ section.settings.paragraph_text }}
        </div>
    {% endif %}
    </div>
       <div class="button--tag">
       {% if section.settings.button_link != blank %}
        <a  href="{{ section.settings.button_link }}"> <span class="custom-image-with-text__button">{{ section.settings.button_text }}</span> </a>
        
       {% endif %} 
        {% if section.settings.secondary_button_link != blank %}
            
            <a  href="{{ section.settings.secondary_button_link }}"> <span class="custom-image-with-text__button">{{ section.settings.secondary_button_text }}</span></a>
        {% endif %}
      
        </div>
											
        </div>
        <div class="image-with-text__image ">
        {% if section.settings.image != blank %}
        {% render 'responsive-picture', desktopImage:section.settings.image, mobileImage:section.settings.image_mobile %}
        {% else %}
          <div class="image-with-text__image">
            {{ 'detailed-apparel-1' | placeholder_svg_tag }}
          </div>
        {% endif %}
        </div>
    </div>
   

    </div>

    <script>
       
    </script>
</div>



{% schema %}
{
    "name": "custom image banner",
    "tag": "section",
    "class": "image-with-text",
    "settings": [
          {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      },
       {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Desktop image size (1920 * 920)"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image (Mobile)",
         "info": "Mobile Image Size (660*650)"
      },
       {
        "type": "select",
        "id": "image_position",
        "label": "Image Position",
        "options": [
          { "value": "left", "label": "Left" },
          { "value": "right", "label": "Right" }
        ]
      },
        {
        "type": "header",
        "content": "Content settings"
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Text Field Background Color",
        "default": "#FFFFFF"
      },
      {
        "type": "text",
        "id": "heading_text",
        "label": "Heading",
        "default": "Heading text"
      },
      {
        "type": "color",
        "id": "heading_text_color",
        "label": "Heading color",
        "default": "#000000"
      },
      {
        "type": "richtext",
        "id": "paragraph_text",
        "label": "Paragraph",
        "default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>"
      },
      {
        "type": "color",
        "id": "paragraph_text_color",
        "label": "Paragraph color",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Primary Button text",
        "default": "Button text"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      },
       {
        "type": "text",
        "id": "secondary_button_text",
        "label": "Secondary Button text",
        "default": "Secondary Button text"
      },
      {
        "type": "url",
        "id": "secondary_button_link",
        "label": "Secondary Button link"
      },
      {
        "type": "header",
        "content": "Alignment settings"
      },
      {
        "type": "select",
        "id": "text_position",
        "label": "Text positon",
        "options": [
          { "value": "top", "label": "Top" },
          { "value": "center", "label": "Center" },
          { "value": "bottom", "label": "Bottom" }
        ],
        "default": "bottom"
      },
       {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "options": [
          { "value": "start", "label": "Start" },
          { "value": "center", "label": "Center" },
          { "value": "end", "label": "End" }
        ],
        "default": "start"
      }
        ],
        "presets": [
            {
               "name": "Custom Image Banner"
            }
        ]
}
{% endschema %}